
.content {
   grid-area: content;
   margin: 0 0 0 20px;
 }

 .status {
   grid-area: status;
   margin: 10px;
   font-size: 20px;
 }
 
 .status {
  display: flex;
  justify-content: flex-end;
  margin: 0px 40px 0px 0px;
}
.status_buttom input {
  font-size: 18px;
}

 .info {
   display: flex;
   margin: 0px 0px 40px 0px;
   flex-direction: column;
 }
 
 .info_img{
   height: 150px;
   width: 150px;
   margin-bottom: 15px;
 }
 
 .info_text {
   margin: 0px 0px 0px 30px;
   font-size: 18px;
 }
 
 .info_fullName {
   margin: 20px 0px 20px 0px;
   font-size: 24px;
   font-weight: 700;
 }

 .info_job {
  margin: 10px 0px 0px 0px;
 }

 .info_job span {
  margin: 0px 0px 0px 20px;
 }
 
 .info_jobDescription {
  font-weight: 500;
 }

 .buttonNone {
   visibility: none;
 }

.upload {
  input {
    border-radius: 5px;
    font-size: 18px;
    color: #555;
   }
}

.info_row{
  margin: 0px 0px 5px 0px;
}

.contact{
  margin: 5px 0px 0px 20px;
  display: flex;
  justify-content: flex-start;
}

.title{
  font-weight: 500;
  padding: 0px 10px 0px 0px;
}

.button_owner {
  button {
    width: 100px;
    height: 40px;
    border-radius: 5px;
    font-size: 16px;
    margin: 20px 0px 0px 0px;
  }
}

.contact__title {
  flex: 0 0 100px;
}


